<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

</head>
<body id="app">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand ms-5" href="#">
                <img class="align-top" src="./assets/bank.png" width="30" height="24">
                <span class="ms-2 fw-semibold">Diamond Bank</span> 
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-5 mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="./accounts.html">Accounts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Cards</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./transfers.html">Transfers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./loan-application.html">Loans</a>
                  </li>
                </ul>
                <button type="button" @click="signOut()" class="transaction-button m-0">Sign out</button>
              </div>
            </div>
          </nav>
    </header>
    <main class="pt-3">
        <h2 class="py-2 mx-4 mt-3 fondo-color text-center rounded-2 width-90">Credit cards</h2>
        <div class="d-flex flex-wrap justify-content-center my-5 py-5 gap-5">
            <div v-for="card of creditCards">
              <div class="plastic-card plastic-card-shadow" :class="{'gold-card-color': card.color === 'GOLD', 'silver-card-color': card.color === 'SILVER', 'titanium-card-color': card.color === 'TITANIUM'}"> 
                <div class="visa_logo">
                  <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/visa.png" alt="">
                </div>
                <div class="visa_info">
                  <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png" alt="">
                  <p class="mb-0">{{card.number}}</p>
                  <div class="d-flex justify-content-end me-4"><p class="mb-0 p-0  card-cvv">{{card.cvv}}</p></div>
                </div>
                <div class="visa_crinfo">
                  <p>{{card.thruDate}}</p>
                  <p v-show="isPastDue(card.thruDate)" class="redText">PAST DUE</p>
                  <p>{{card.cardholder}}</p>
                </div>
              </div>
              <div class="text-center mt-2">
                <button @click="deleteCardAction(card.number)" class="delete-button m-auto">
                  <svg class="delete-svgIcon" viewBox="0 0 448 512">
                                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                  </svg>
                </button>
              </div>
          </div>

            <div>
              <h3 class="ms-4">Benefits of using your card</h3>
              <ul>
                <li>Do not move from your home and request it 100% online</li> 
                <li>Podés comprar en cuotas y así planificar tus consumos a tu manera</li>
                <li>have exclusive benefits in the collection of most prestigious hotels in the world.</li>
              </ul>
            </div>
          </div>
        

        <h2 class="py-2 mx-4 mt-3 fondo-color text-center rounded-2">Debit cards</h2>
        <div class="d-flex flex-wrap justify-content-center my-5 py-5 gap-5 width-90">
          <div v-for="card of debitCards">
            <div class="plastic-card plastic-card-shadow" :class="{'gold-card-color': card.color ==='GOLD', 'silver-card-color': card.color === 'SILVER', 'titanium-card-color': card.color === 'TITANIUM'}"> 
                <div class="visa_logo">
                    <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/visa.png" alt="">
                </div>
                <div class="visa_info">
                    <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png" alt="">
                    <p class="mb-0">{{card.number}}</p>
                    <div class="d-flex justify-content-end me-4"><p class="mb-0 p-0  card-cvv">{{card.cvv}}</p></div>
                </div>
                <div class="visa_crinfo">
                    <p>{{card.thruDate}}</p>
                    <p v-show="isPastDue(card.thruDate)" class="redText">PAST DUE</p>
                    <p>{{card.cardholder}}</p>
                </div>
            </div>
            <div class="mt-2">
              <button @click="deleteCardAction(card.number)" class="delete-button m-auto">
                <svg class="delete-svgIcon" viewBox="0 0 448 512">
                                  <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                </svg>
              </button>
            </div>
            </div>
            <div>
              <h3 class="ms-4">Benefits of using your card</h3>
              <ul>
                <li>Do not move from your home and request it 100% online</li> 
                <li>Podés comprar en cuotas y así planificar tus consumos a tu manera</li>
                <li>have exclusive benefits in the collection of most prestigious hotels in the world.</li>
             </ul>
            </div>
        </div>
        <div class="text-center">
          <a v-show="canCreate()" href="./create-cards.html" class="transaction-button add-button px-2">Create cards</a>
        </div>
    </main>
    <footer class="d-flex align-items-center flex-wrap justify-content-around gap-2 bg-body-tertiary">
      <div class="d-flex gap-2 ms-2">
          <a href="https://api.whatsapp.com/send?phone=numero&text=mensaje"><img class="img-footer" src="./assets/whatsapp.png" alt="logo whatsapp"></a> 
          <a href=" http://facebook.com/Tiendanube."><img class="img-footer" src="./assets/facebook (1).png" alt="logo facebook"></a>
          <a href="https://www.instagram.com/"><img class="img-footer" src="./assets/instagram.png" alt="logo instagram"></a>
      </div>
      <div class="d-flex flex-grow-1 justify-content-center">
          <a href="mailto:Diamond Bank"><img class="img-footer me-2" src="./assets/email.png" alt="logo de email">Contact Us</a>
          <a class="ms-4" href=""><img class="img-footer me-2" src="./assets/phone.png" alt="logo de telefono">Useful phone</a>
      </div>
      <p class="mb-0 me-2">© 2023 Diamond Bank Argentina S.A. All rights reserved</p>
  </footer>
</body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="./cards.js"  ></script>
</html>