<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

    <title>Home</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <a class="navbar-brand text-center w-100 ms-5" href="#">
                <img class="align-top" src="./assets/bank.png" width="30" height="24">
                <span class="ms-2 fw-semibold">Diamond Bank</span> 
              </a>
          </nav>
    </header>
    <main id="app" class="container-fluid imgfondo">
      <div class="row">
        <section class="col-12 col-sm-6 col-md-4 col-xl-3 mt-4 ms-4">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="signin-tab" data-bs-toggle="tab" data-bs-target="#signin-tab-pane" type="button" role="tab" aria-controls="signin-tab-pane" aria-selected="true">Sign in</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane" type="button" role="tab" aria-controls="register-tab-pane" aria-selected="false">Register</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="signin-tab-pane" role="tabpanel" aria-labelledby="signin-tab" tabindex="0">
              <form class="home-form-color px-4 py-4">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input v-model="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input v-model="password" type="password" class="form-control" id="password">
                </div>
                <button type="button" @click="signIn()" class="transaction-button">Sign in</button>
              </form>
            </div>
            <div class="tab-pane fade" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0">
              <form class="home-form-color px-4 py-4">
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input v-model="firstName" type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp">
                </div>
                <div class="mb-3">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input v-model="lastName" type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input v-model="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input v-model="password" type="password" class="form-control" id="password">
                </div>
                <button type="button" @click="register()" class="transaction-button">Register</button>
              </form>
            </div>
          </div>
          
      </section>
      <div class="col-12 col-sm-6 col-md-8 mt-5 text-center"> 
        <h2 data-aos="fade-left" class="index-title">Welcome to your homebanking</h2>
      </div>
    </div>

      
    </main>
    <footer class="d-flex align-items-center justify-content-around gap-2 bg-body-tertiary">
        <div class="d-flex gap-2 ms-2">
            <a href="https://api.whatsapp.com/send?phone=numero&text=mensaje"><img class="img-footer" src="./assets/whatsapp.png" alt="logo whatsapp"></a> 
            <a href=" http://facebook.com/Tiendanube."><img class="img-footer" src="./assets/facebook (1).png" alt="logo facebook"></a>
            <a href="https://www.instagram.com/"><img class="img-footer" src="./assets/instagram.png" alt="logo instagram"></a>
        </div>
        <div class="d-flex flex-grow-1 justify-content-center">
            <a href="mailto:Diamond Bank"><img class="img-footer me-2" src="./assets/email.png" alt="logo de email">Contact Us</a>
            <a class="ms-4" href=""><img class="img-footer me-2" src="./assets/phone.png" alt="logo de telefono">Useful phone</a>
        </div>
        <p class="mb-0 me-2">© 2023 Diamond Bank Argentina S.A. All rights reserved</p>
    </footer>

</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script src="index.js"></script>
<script>
  AOS.init({delay: 300, duration: 2000});
</script>
</html>