* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.fondo-color {
    background-color: #bcd6ff;
}

main {
    background-color: rgb(227 227 227);
    min-height: 88vh;
    padding-bottom: 2rem;
}

.img-footer {
    width: 30px;
}

footer {
    min-height: 5vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.imgfondo {
    background-image: url(./assets/3054191.jpg);
    background-size: cover;
}

.img-main {
    height: 20rem;
    object-fit: cover
}

.greenText {
    background-color: rgb(83, 235, 83) !important;
    color: white !important;
    font-weight: bold;
}

.redText {
    background-color: rgb(247, 34, 34) !important;
    color: white !important;
    font-weight: bold;
}

.carousel-item img {
    height: 50vh;
    width: 75%;
    margin-left: 12.5%;
}

.home-form-color {
    background-color: #f5f5f5 !important;
}

.account-detail {
    background-color: #cfe2ff;
}

.bg-color-gray {
    background-color: #f8f8f8;
}

.card-shadow {
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.transaction-button {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 7em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    text-decoration: none;
  }
  
  .transaction-button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 200px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .transaction-button:hover {
    color: white;
  }
  
  .transaction-button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  .transaction-button:hover::before {
    top: -30px;
    left: -30px;
  }